<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ config.title }}{% if page.title %}: {{ page.title }}{% endif %}</title>

  <link href="{{ get_url(path="main.css", trailing_slash=false) | safe }}" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" href="{{ get_url(path="rss.xml", trailing_slash=false) | safe }}">
  <link rel="icon" href="{{ get_url(path=config.extra.favicon, trailing_slash=false) | safe }}">
  <link rel="apple-touch-icon-precomposed" href="{{ get_url(path=config.extra.bigicon, trailing_slash=false) | safe }}">
  {% block header %}{% endblock header %}
</head>
<body>
  <header>
    <nav>
      <h1>
          <a href="{{ get_url(path="/") }}">{{ config.title }}</a>
      </h1>
      {% set pages = get_section(path="_index.md") %}
      {% for page in pages.pages %}
      {% if not page.extra.hide %}
      <p><a href="{{ page.permalink | safe }}">
        {{ page.title }}
      </a></p>
      {% endif %}
      {% endfor %}
      {% for link in config.extra.links %}
      <p><a href="{{link.url | safe}}">{{link.name}}</a></p>
      {% endfor %}
      {% set blog = get_section(path="blog/_index.md") %}
      <p><a href="{{ blog.permalink }}">
        Blog
      </a></p>
      {% set projects = get_section(path="project/_index.md") %}
      <p><a href="{{ projects.permalink }}">
        Projects
      </a></p>
    </nav>
  </header>
  <main>
    {% block main %}
    Hello, world!
    {% endblock main %}
  </main>
  <footer>
    <p><a href="https://www.cornell.edu">Cornell University</a>
    &mdash;
    <a href="https://www.cs.cornell.edu">Department of Computer Science</a></p>
  </footer>
</body>
</html>
