{% extends "base.html" %}
{% block main %}
{{ section.content | safe }}

{% set blog = get_section(path="blog/_index.md") %}
<h2>
  <a href="{{ blog.permalink }}">Latest Blog Posts</a>
  <a href="{{ get_url(path="rss.xml", trailing_slash=false) | safe }}">
    <img src="./img/rss.svg" class="rss">
  </a>
</h2>

{% for post in blog.pages | slice(end=7) %}
<article class="small">
  <time datetime="{{ post.date }}">
    {{ post.date | date(format="%b %e") }}
  </time>
  <h1><a href="{{ post.permalink }}">{{ post.title }}</a></h1>
</article>
{% endfor %}

<p>
  See <a href="{{ blog.permalink }}">all posts</a> on the course blog.
</p>

<h2>Acknowledgment</h2>
<p>
  Many thanks to <a href="https://zulip.com">Zulip</a> for <a href="https://zulip.com/help/linking-to-zulip-website?utm_source=announcement&utm_medium=email&utm_campaign=SponsoredMar2023">sponsoring a free hosting plan</a> for us. Zulip is a wonderful, open-source communication tool that works great for discussion-focused classes like ours.
</p>
{% endblock main %}
