{% extends "base.html" %}
{% block main %}
{{ section.content | safe }}
{% for page in section.pages %}
{% if not page.draft %}
<article>
  <h1>
    <a href="{{ page.permalink }}">Lesson {{ page.slug }}:</a>
    {{ page.title }}
  </h1>
  <ul class="compact">
    <li>
      <a href="https://cs6120.zulipchat.com/#narrow/stream/254742-lessons/topic/{{page.slug}}" class="icon discussion">discussion</a>
    </li>
    {% for video in page.extra.videos | default(value=[]) %}
    <li>
      <a href="{% if video.url %}{{video.url}}{% elif video.id %}https://vod.video.cornell.edu/media/{{video.id}}{% endif %}" class="icon video">{{ video.name | default(value="video") }}</a>
    </li>
    {% endfor %}
  </ul>
</article>
{% endif %}
{% endfor %}
{% endblock main %}
