{% extends "base.html" %}
{% block header %}
<meta name="twitter:card" content="summary">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description"
    content="{{ page.content | striptags | split(pat="\n\n") | first }}">
{% endblock header %}
{% block main %}
{% set secpath = page.ancestors | last %}
{% set section = get_section(path=secpath, metadata_only=true) %}
<h1>
    <a href="{{ section.permalink }}">
    {{ section.title }}
    </a>
</h1>
<article>
  <h1>{{ page.title }}</h1>
  <p class="details">
    <span class="author">by {{ page.extra.author }}</span>
    <time datetime="{{ page.date }}">
      {{ page.date | date(format="%B %e, %Y") }}
    </time>
  </p>
  {{ page.content | safe }}
</article>
{% endblock main %}
