{% extends "base.html" %}
{% block main %}
{% set schedule = load_data(path="data/schedule.toml") %}
{% set content = load_data(path="data/content.toml") %}

<h1>{{ page.title }}</h1>

{% set count = schedule.days | length %}
{% set class_count = content.classes | length %}
<table class="schedule">
  <tbody>
    {% set_global class_idx = 0 %}
    {% for idx in range(end=count) %}
    {% set day = schedule.days[idx] %}
    <tr class="{% if day.canceled %}canceled{% endif %} {% if day.mon %}mon{% endif %}">
      <th scope="row" class="short">{{ day.date }}</th>
      {% if day.event %}
      <td colspan="2"><strong>{{ day.event }}</strong></td>
      {% else %}
      {% if class_idx < class_count %}
      {% set class = content.classes[class_idx] %}
      {% set_global class_idx = class_idx + 1 %}
      <td>
        {{ class.title }}
        {% if day.notes %}
        <ul>
        {% for note in day.notes %}
          <li>{{ note | markdown(inline=true) | safe }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% if class.notes %}
        <ul>
        {% for note in class.notes %}
          <li>{{ note | markdown(inline=true) | safe }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        {% if class.readings %}
        <ul>
        {% for reading in class.readings %}
          <li>
            <a href="{{reading.link}}">{{reading.name}}</a>
            {% if reading.details %}
            <br>{{reading.details}}
            {% endif %}
          </li>
        {% endfor %}
        </ul>
        {% endif %}
      </td>
      {% else %}
      <td>
        {% if day.notes %}
        <ul>
        {% for note in day.notes %}
          <li>{{ note | markdown(inline=true) | safe }}</li>
        {% endfor %}
        </ul>
        {% endif %}
      </td>
      {% endif %}
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock main %}
